* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(117,117,117);
}

button {
  background-color: rgb(33, 33, 33);
  color: rgb(229,229,229);
  border-radius: 10px;
  padding: 1vh 1vw;
}

/* header */
header {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5vw;
  padding: 0 15vw;
}

.header__nav-list {
  display: flex;
  gap: 3vw;
}

.nav-item {
  color: rgb(117,117,117);
}

/* main */
main {

}

.author-meeting {
  height: 90vh;
  padding: 0 15vw;
  display: flex;
  align-items: center;
}

.meeting__image {
  width: 23%;
  padding: 0 7px 1px 0;
  margin-top: -15vh;
  box-shadow: 6vh 6vh 1px -15px rgb(229,229, 229);
}

.meeting__image > img {
  width: 100%;
}

.meeting__content {
  width: 77%;
  display: flex;
  flex-direction: column;
  gap: 12vh;
}

.meeting__content > p {
  margin-top: -10vh;
  width: 70%;
}

.meeting__content > p, .details__item {
  color: rgb(117,117,117);
}

.content__details {

}

.details__item {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.content__icon-group {

}

/* ABOUT ME web page */
nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30vw;
  padding: 10vh 15vw 0 0;
}

.nav__section {
  padding: 1vh 1vw;
  background-color: rgb(229,229,229);
  border-radius: 10px;
}

.main-content {
  height: 85vh;
  padding: 0 15vw;
  display: flex;
  align-items: center;
  gap: 10vw;
}

.main-content .meeting__image {
  box-shadow: -6vh 6vh 1px -22px rgb(229,229,229);
  padding: 0px 0 1px 5px;
}

.main-content__info {
  width: 77%;
}
.main-content__info > p, .main-content__info > ul {
  color: rgb(117,117,117);
}

.main-content__info > ul {
  margin: 1vh 0 0 1vw;
  display: grid;
  grid-template-columns: 50% 50%;
  list-style: circle;
}

/* WORK web page */

.work-heading {
  color: rgb(117,117,117);
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 5vh 0;
}

.work-heading ~ .main-content {
  margin-top: 30vh;
  justify-content: center;
  padding: 0;
  flex-direction: column;
}

.my-work-item {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

.work-img {
  width: 50%;
  background-color: rgb(229,229,229);
  border-radius: 30px 0 0 30px;
}

.work-img.even {
  border-radius: 0 30px 30px 0;
}

.work-img > img {
  width: 100%;
  padding: 8vh;
}

.work-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 4vw;
  gap: 6vh;
}

.work-description > p {
  color: rgb(117,117,117);
}

.work-description > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;
}

.work-description ul > li {
  padding: 1vh 1vw;
  background-color: rgb(229,229,229);
  color: rgb(117,117,117);
  border-radius: 10px;
}